body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.navbar-brand {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 2.75rem;
}

/* do not display original not responsive iframe */
iframe {
  display: none;
}

@media screen and (max-width: 40em) {
  .two-panes {
    flex-direction: column;
  }
}

.two-panes {
  display: flex;
  align-items: center;
}

.two-panes div:nth-of-type(1) {
  flex-basis: 200%;
  height: auto;
}

.two-panes div:nth-of-type(2) {
  margin-left: 2rem;
}

.two-panes > .widget-placeholder {
  margin-right: 2rem;
}
